@font-face 
{
    font-family: 'raleway';
    src: url("../Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'raleway';	
}

* {
  box-sizing: border-box;
}

#bloc_page
{	
	max-width: 1550px;
	width: 100%;
	margin: auto;
}

#tete_et_corps
{
	padding: 20px 100px 20px 100px;
	width: 100%;
}

@media (max-width: 1550px){
	#tete_et_corps
{
	padding: 15px 80px 15px 80px;
	width: 100%;
}
}

@media (max-width: 1455px){
	#tete_et_corps
{
	padding: 15px 50px 15px 50px;
	width: 100%;
}
}

@media (max-width: 1200px){
	#tete_et_corps
{
	padding: 10px 30px 10px 30px;
	width: 100%;
}
}

@media (max-width: 1150px){
	#tete_et_corps
{
	padding: 5px;
	width: 100%;
}
}

@media (max-width: 750px){
	#tete_et_corps
{
	padding: 20px;
	width: 100%;
}
}

@media (max-width: 650px){
	#tete_et_corps
{
	padding: 0;
	width: 100%;
}
}

@media (max-width: 575px){
	#tete_et_corps
{
	padding: 0;
	width: 100%;
}
}

header
{
	position: relative;
	padding-top: 20px;
}

@media (max-width: 575px) {
	header
{
	position: relative;
	margin-top: 0px;
}
}

#logo
{
	width: 97px;
	height: 45px;
}

@media (max-width: 575px) {
	#logo
{
	width: 97px;
	height: 45px;
	margin-left: 5px;
}
}

#menu 
{
	display: flex;
	justify-content: flex-end;
	margin-top: -68px;
	padding-bottom: 10px;
}

@media (max-width: 575px) {
	#menu 
{
	display: flex;
	justify-content: center;
	margin-top: 0px;
	padding-bottom: 0px;
}
}

@media (max-width: 414px) {
	#menu 
{
	display: flex;
	justify-content: center;
	margin-top: 0px;
	padding-bottom: 0px;
}
}

.menu_heberg 
{
	padding-top: 35px;
}

@media (max-width: 575px) {
	.menu_heberg
{
	margin-right: 0px;
	padding-bottom: 13px;
	border-bottom: 3px solid #F2F2F2;
}
}

.menu_heberg a
{
	padding: 35px 35px 0px 35px;
}

@media (max-width: 575px) {
	.menu_heberg a
{
	width: 50%;
	border-top: none;
	margin-right: 0px;
	padding: 0px 45px 13px 45px;
}
}

@media (max-width: 374px) {
	.menu_heberg a
{
	border-top: none;
	margin-right: 0px;
	padding: 0px 40px 13px 40px;
}
}

@media (max-width: 340px) {
	.menu_heberg a
{
	border-top: none;
	margin-right: 0px;
	padding: 0px 27px 13px 27px;
}
}

.menu_heberg a:hover /*Apparence au survol des liens*/
{
	border-top: 3px solid #0065FC;	
	color: 	#0065FC;
}

@media (max-width: 575px){
.menu_heberg a:hover /*Apparence au survol des liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;	
	color: 	#0065FC;
}
}

.menu_heberg a:active /*Apparence lorsque l'on clique sur le lien*/
{
	color: #0065FC;
	text-decoration: none;
	font-weight: bold;
}


@media (max-width: 575px){
	.menu_heberg a:active /*Apparence en cliquant sur les liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;
	color: 	#0065FC;
}
}

@media (max-width: 360px) {
	.menu_heberg a:active /*Apparence en cliquant sur les liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;
	color: 	#0065FC;
}
}

.menu_act 
{
	padding-top: 35px;
	margin-right: 120px;
}

@media (max-width: 575px) {
	.menu_act
{
	border-top: none;
	margin-right: 0px;
	border-bottom: 3px solid #F2F2F2;
}
}

@media (max-width: 350px) {
	.menu_act
{
	border-top: none;
	margin-right: 0px;
	border-bottom: 3px solid #F2F2F2;
}
}

.menu_act a
{
	padding: 35px 35px 0px 35px;
}

@media (max-width: 575px) {
	.menu_act a
{
	width: 50%;
	border-top: none;
	margin-right: 0px;
	padding: 0px 50px 13px 50px;
	border-bottom: 3px solid #F2F2F2;
}
}

@media (max-width: 374px) {
	.menu_act a
{
	border-top: none;
	margin-right: 0px;
	padding: 0px 45px 13px 45px;
	border-bottom: 3px solid #F2F2F2;
}
}

@media (max-width: 340px) {
	.menu_act a
{
	border-top: none;
	margin-right: 0px;
	padding: 0px 38px 13px 38px;
	border-bottom: 3px solid #F2F2F2;
}
}

.menu_act a:hover /*Apparence au survol des liens*/
{
	border-top: 3px solid #0065FC;	
	color: 	#0065FC;
}

@media (max-width: 575px){
.menu_act a:hover /*Apparence au survol des liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;	
	color: 	#0065FC;
}
}

.menu_act a:active /*Apparence lorsque l'on clique sur le lien*/
{
	color: #0065FC;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
}

@media (max-width: 575px){
.menu_act a:active /*Apparence en cliquant sur les liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;
	color: 	#0065FC;	
}
}

@media (max-width: 360px){
.menu_act a:active /*Apparence en cliquant sur les liens*/
{
	border-top: none;
	border-bottom: 3px solid #0065FC;
	color: 	#0065FC;	
}
}

.inscription
{
	position: absolute;
	right: 15px;
	top: 35px;
}

@media (max-width: 575px) {
	.inscription
{
	position: absolute;
	right: 18px;
	top: 35px;
}
}

.inscription a:active /*Apparence lorsque l'on clique sur le lien*/
{
	text-decoration: none;
	font-size: 1.1em;
} 

#recherches /*Bloc recherches*/
{
	padding-top: 15px;
}

@media (max-width: 575px) {
	#recherches /*Bloc recherches*/
{
	padding-top: 0px;
	margin-left: 5px;
	margin-right: 10px;
}
}

#recherches h1
{
	margin-bottom: -8px;
}

@media (max-width: 768px) {
	#recherches p
{
	margin-bottom: 30px;
}
}

.fa-map-marker-alt
{
	color: black;
	background-color:#F2F2F2;
	border: 1px solid #F2F2F2;
	padding: 17px;
	border-radius: 16px 0px 0px 16px;
}

#champ_recherche
{
	width: 235px;
	height: 50px;
	font-size: 1.1em;
	border: 1px solid #F2F2F2;
	font-family: 'raleway';
	font-weight: bold;
	margin: 0 -5px 0 -5px;
	padding-left: 15px;
}

*:focus {
outline: none;
}

@media (max-width: 575px) {
	#champ_recherche
{
	width: 68%;
	height: 50px;
	font-size: 1.1em;
	border: 1px solid #F2F2F2;
	font-family: 'raleway';
	font-weight: bold;
	margin: 0 -5px 0 -5px;
	padding-left: 15px;
}
}

#rechercher
{
	width: 130px;
	height: 50px;
	background-color: #0065FC;
	color: white;
	font-size: 1.1em;
	font-family: 'raleway';
	font-weight: bold;
	border-radius: 0px 17px 17px 0px;
	border-style: none;
}

@media (max-width: 768px) {
#rechercher
{
	display: none;
	background-color: #0065FC;
	color: white;
	font-size: 1.1em;
	font-family: 'raleway';
	font-weight: bold;
	border-radius: 0px 16px 16px 0px;
	border-style: none;
}
}

@media (max-width: 768px) {
	.fa-search
{
	background-color: #0065FC;
	padding: 18px;
	border-radius: 16px;
	margin-left: -10px;
	color: white;
}
}

@media (min-width: 769px) {
	.fa-search
{
	display: none !important;
}
}

#filtres /*bloc filtres*/
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
}

@media (max-width: 1150px)
{
	#filtres /*bloc filtres*/
{
	padding-top: 40px;
	margin-top: 20px;
}
}

@media (max-width: 768px) {
	#filtres /*bloc filtres*/
{
	position: relative;
	padding-top: 55px;
}
}

@media (max-width: 575px) {
	#filtres /*bloc filtres*/
{
	position: relative;
	padding-top: 40px;
	margin-bottom: 20px;
}
}

#filt
{
	position: absolute;
	margin-top: 22px;
	font-weight: bold;	
	font-size: 1.1em;
}

@media (max-width:1150px) {
	#filt
{
	position: absolute;
	margin-top: -30px;
}
}

@media (max-width: 768px){
	#filt
{
	position: absolute;
	margin-top: -32px;
}
}

@media (max-width: 575px){
	#filt
{
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
}
}

#filtres ul
{
	list-style-type: none;
	font-weight: bold;	
	font-size: 1.1em;
	margin-top: 5px;
}

@media (max-width: 1150px) {
	#filtres ul
{
	display: block;
	padding-left: 0px;
	list-style-type: none;
	font-weight: bold;	
	font-size: 1em;
}
}

@media (max-width: 768px) {
	#filtres ul
{
    display: block;
    list-style-type: none;
    padding-left: 0px;
	list-style-type: none;
	font-weight: bold;	
	font-size: 0.9em;
}
}

@media (max-width: 575px) {
	#filtres ul
{
    display: block;
    list-style-type: none;
    padding-left: 5px;
	font-weight: bold;	
	font-size: 0.9em;
}
}

#filtres li
{
	display: inline-flex;
	border: 2px solid lightgrey;
	border-radius: 30px;
	margin-left: 50px;
	padding-right: 20px;
}

@media (max-width:1150px) {
	#filtres li
{
	margin-left: 0px;
	display: inline-flex;
	border: 2px solid lightgrey;
	border-radius: 30px;
	padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 12px;
}
}

#filtres a:hover /*Apparence au survol des liens*/
{
  	color:#0065FC;
	font-weight: bold;
	font-size: 1.1em;
}


@media (max-width: 414px) {

#filtres a:hover /*Apparence au survol des liens*/
{
  	color:#0065FC;
	font-weight: bold;
	font-size: 1em;
}
}

#filtres a:active /*Apparence lorsque l'on clique sur le lien*/
{
	color: grey;
	text-decoration: none;
	font-size: 1.1em;
}

@media (max-width: 414px) {
#filtres a:active /*Apparence lorsque l'on clique sur le lien*/
{
	color: grey;
	text-decoration: none;
	font-size: 1em;
}
}

.fa-money-bill-wave
{
	font-size: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px 10px 13px 10px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-child
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding:  12px 15px 12px 15px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-heart
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-dog
{
	font-size:20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-info
{
	font-size: 0.8em;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 6px 10px 6px 10px;	
	margin-right: 12px;
	margin-top: -10px;
}

#info 
{
	margin-top: 30px;
}

@media (max-width: 575px) {
	#info 
{
	margin-left: 5px;
	margin-top: 30px;
}
}

#texte_info
{
	margin-top: 10px;
}

@media (max-width: 575px) {
	#texte_info
{
	display: block;
	margin-top: -23px;
	margin-left: 40px;
}
}

strong
{
	color: #0065FC;
}

a /*Liens non survolés*/
{
	text-decoration: none;
	color: black;
}

h1
{
	font-size: 1.4em; /*Unité "em" est la taille de la police de caractères*/
	font-weight: bold;
}

h2
{
	font-size: 1.2em;
	font-weight: bold;
}

h3
{
	font-size: 1em;
	font-weight: bold;
}

.container /*container du bloc hébergements et populaires*/
{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}


@media (max-width:1050px) {
	.container /*container du bloc hébergements et populaires*/
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}
}

.container1/*container du bloc hébergements et background grey*/
{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 66%;
	background-color:#F2F2F2; 
	border-radius: 20px;
}

@media (max-width:1400px) {
	.container1/*container du bloc hébergements et background grey*/
{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 64%;
	background-color:#F2F2F2; 
	border-radius: 20px;
	margin-bottom: 30px;
}
}

@media (max-width:1050px) {
	.container1/*container du bloc hébergements et background grey*/
{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #F2F2F2; 
	border-radius: 20px;
	margin-bottom: 30px;
}
}

@media (max-width: 970px)
{
	.container1/*container du bloc hébergements et background grey*/
{
	background-color: white; 
	border-radius: 20px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
}

@media (max-width: 750px)
{
	.container1/*container du bloc hébergements et background grey*/
{
	width: 100%;
	background-color: #F2F2F2; 
	border-radius: 0px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
}

@media (max-width: 414px)
{
	.container1/*container du bloc hébergements et background grey*/
{
	width: 100%;
	background-color: white; 
	border-radius: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
}

.container1 h2
{
	margin-left: 3%;
}

@media (max-width: 1400px) {
	.container1 h2
{
	margin-left: 6%;
}
}

@media (max-width: 1300px) {
	.container1 h2
{
	margin-left: 3%;
}
}

@media (max-width: 1150px) {
	.container1 h2
{
	margin-left: 5%;
}
}

@media (max-width: 1024px) {
	.container1 h2
{
	margin-left: 3%;
}
}

@media (max-width: 750px) {
	.container1 h2
{
	margin-left: 10%;
	font-size: 1.4em;
}
}

@media (max-width: 700px) {
	.container1 h2
{
	margin-left: 6%;
	font-size: 1.4em;
}
}

@media (max-width: 650px) {
	.container1 h2
{
	margin-left: 11%;
	font-size: 1.4em;
}
}

@media (max-width: 650px) {
	.container1 h2
{
	margin-left: 8%;
	font-size: 1.4em;
}
}

@media (max-width: 414px) {
	.container1 h2
{
	margin-left: 6%;
	font-size: 1.2em;
}
}
#hebergements /*container du bloc parent hébergements*/
{	
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}


@media (max-width:1024px) {
	#hebergements /*container du bloc parent hébergements*/
{	
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
}

#hebergements h3
{
	margin-top: 7px;
	margin-left: 10px;	
}

@media (max-width: 950px) {
	#hebergements h3
{
	margin-top: 7px;
	margin-left: 10px;	
	margin-bottom: 18px;
}
}

@media (max-width: 750px) {
	#hebergements h3
{
	font-size: 1.2em;
	margin: 15px 5px 8px 8px;
}
}

@media (max-width: 550px) {
	#hebergements h3
{
	font-size: 1em;
	margin: 7px 5px 10px 10px;
}
}
@media (max-width: 414px) {
	#hebergements h3
{
	font-size: 1em;
	margin: 7px 5px 10px 10px;
}
}

#hebergements p 
{
	margin-top: -10px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
}

@media (max-width: 1400px) {
	#hebergements p 
{
	margin-top: -8px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
}
}

@media (max-width: 1024px) {
	#hebergements p 
{
	margin-top: -8px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 15px;
}
}

@media (max-width: 768px) {
	#hebergements p 
{
	margin-top: -6px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 14px;
}
}

@media (max-width: 768px) {
	#hebergements p 
{
	margin-top: -6px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 14px;
}
}

@media (max-width: 750px) {
	#hebergements p 
{
	font-size: 1em;
	margin-top: 22px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	margin-bottom: 80px;
}
}

@media (max-width: 550px) {
	#hebergements p 
{
	margin-top: -4px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 10px;
}
}

@media (max-width: 414px) {
	#hebergements p 
{
	margin-top: -4px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
	margin-bottom: 10px;
}
}

.hover:hover/*permet d'avoir un effet en survol du lien*/
{
	border: 4px solid white;
}

.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 247px;
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 15px;
}

@media (max-width: 1400px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 315px;
	height: 215px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 10px;
}
}

@media (max-width: 1200px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 285px;
	height: 205px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 10px;
}
}

@media (max-width: 1024px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 285px;
	height: 215px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 10px;
}
}

@media (max-width: 970px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 240px;
	height: 210px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 10px;
}
}

@media (max-width: 830px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 210px;
	height: 210px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #e3e3e3;
	background-color: white;
	margin: 5px;
}
}

@media (max-width: 750px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 560px;
	height: 215px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #F2F2F2;
	background-color: white;
	margin: 10px;
}
}

@media (max-width: 650px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 480px;
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #F2F2F2;
	background-color: white;
	margin: 5px;
}
}

@media (max-width: 550px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 380px;
	height: 220px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #F2F2F2;
	background-color: white;
	margin: 5px;
}
}

@media (max-width: 414px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 320px;
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #F2F2F2;
	background-color: white;
	margin: 5px;
}
}

@media (max-width: 350px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 282px;
	height: 216px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #F2F2F2;
	background-color: white;
}
}

.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 237px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}

@media (max-width: 1400px) {
	.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 305px;
	height: 120px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 1200px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 275px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 1024px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 275px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 970px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 230px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 830px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 200px;
	height: 110px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 750px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	margin-right: 20px;
	float: left;
	width: 297px;
	height: 205px;
	border-radius: 16px 0 0 16px;
}
}

@media (max-width: 650px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	margin-right: 20px;
	float: left;
	width: 240px;
	height: 190px;
	border-radius: 16px 0 0 16px;
}
}

@media (max-width: 550px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;
	margin-right: 0;
	float: none;	
	width: 370px;
	height: 125px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 414px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;
	margin-right: 0;
	float: none;	
	width: 310px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}
}

@media (max-width: 350px){
.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	float: none;
	margin-right: 0;
	width: 274px;
	height: 120px;
	border-radius: 16px 16px 0 0;
}
}

.hebergement1
{
	background-image: url("../img/photos/cannebiere.jpg");
}

.hebergement2
{
	background-image: url("../img/photos/port.jpg");
}

.hebergement3
{
	background-image: url("../img/photos/mouettes.jpg");
}

.hebergement4
{
	background-image: url("../img/photos/la_mer.jpg");
}

.hebergement5
{
	background-image: url("../img/photos/panier.jpg");
}

.hebergement6
{
	background-image: url("../img/photos/amina.jpg");
}

.aff_plus
{
	margin-left: 3%;
	font-weight: bold;
}

@media (max-width: 1400px) {
	.aff_plus
{
	margin-left: 6%;
	font-weight: bold;
}
}

@media (max-width: 1400px) {
	.aff_plus
{
	margin-left: 4%;
	font-weight: bold;
}
}

@media (max-width: 1050px) {
	.aff_plus
{
	margin-left: 3%;
	font-weight: bold;
}
}

@media (max-width: 750px) {
	.aff_plus
{
	margin-left: 10%;
	font-weight: bold;
}
}
@media (max-width: 700px) {
	.aff_plus
{
	margin-left: 6%;
	font-weight: bold;
}
}

@media (max-width: 600px) {
	.aff_plus
{
	margin-left: 8%;
	font-weight: bold;
}
}

@media (max-width: 414px) {
	.aff_plus
{
	margin-left: 6%;
	font-weight: bold;
}
}

.container2/*container du bloc populaires et background grey*/
{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 20px;
	width: 30%;
	background-color:#F2F2F2; 
	border-radius: 20px;	
}

@media  (max-width:1400px) {
	.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	width: 33%;
	margin-left: 0px;
	background-color:#F2F2F2; 
	border-radius: 20px;
	margin-bottom: 30px;
}
}


@media  (max-width:1050px) {
	.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	width: 100%;
	margin-left: 0px;
	background-color:#F2F2F2; 
	border-radius: 20px;
	margin-bottom: 30px;
}
}

@media (max-width:970px){
		.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	width: 100%;
	background-color:#F2F2F2; 
	border-radius: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
}
}

@media (max-width: 750px){
		.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	margin-top: 20px;
	width: 100%;
	background-color: #F2F2F2; 
	border-radius: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
}

@media (max-width:575px){
		.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	margin-top: 20px;
	width: 100%;
	background-color: #F2F2F2; 
	border-radius: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
}

.container2 h2
{ 
	margin-left: 8%;
 }

 @media (max-width: 1400px) {
	.container2 h2
{ 
	margin-left: 12%;
}
}
@media (max-width: 1300px) {
	.container2 h2
{ 
	margin-left: 8%;
}
}

@media (max-width: 1050px) {
	.container2 h2
{ 
	margin-left: 3%;
}
}

@media (max-width: 750px) {
	.container2 h2
{ 
	margin-left: 10%;
	font-size: 1.4em;
}
}

@media (max-width: 700px) {
	.container2 h2
{ 
	margin-left: 6%;
	font-size: 1.4em;
}
}

@media (max-width: 650px) {
	.container2 h2
{ 
	margin-left: 11%;
	font-size: 1.4em;
}
}

@media (max-width: 600px) {
	.container2 h2
{ 
	margin-left: 8%;
	font-size: 1.4em;
}
}

@media (max-width: 414px) {
	.container2 h2
{ 
	margin-left: 6%;
	font-size: 1.2em;
}
}

#icone_fleche
{
	position: absolute;
	margin-left: 334px; 
	margin-top: -43px;
}

@media (max-width: 1400px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 26%; 
	margin-top: -43px;
}
}

@media (max-width: 1050px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 92%; 
	margin-top: -43px;
}
}

@media (max-width: 750px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 80%; 
	margin-top: -43px;
}
}

@media (max-width: 700px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 84%; 
	margin-top: -43px;
}
}

@media (max-width: 600px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 88%; 
	margin-top: -43px;
}
}

@media (max-width: 414px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 85%; 
	margin-top: -43px;
}
}

.fa-chart-line
{
	font-size: 1.4em;
	font-weight: bold;
}

#populaires/*container du bloc parent populaires*/
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width:1400px) {
	#populaires/*container du bloc parent populaires*/
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
}

@media (max-width:1050px) {
	#populaires/*container du bloc parent populaires*/
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
}

#populaires h3
{
	margin-left: 10px;
}

@media (max-width:1400px) {
	#populaires h3
{
	font-size: 1em;
	margin-top: 6px;
	margin-left: 4px;		
}
}

@media (max-width:1300px) {
	#populaires h3
{
	font-size: 1em;
	margin-top: 5px;
	margin-left: 4px;		
}
}

@media (max-width: 970px) {
	#populaires h3
{
	word-break: break-word;
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 50px;
	margin-top: 5px;
}
}

@media (max-width: 750px) {
	#populaires h3
{ 
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 5px;
}
}

@media (max-width: 650px) {
	#populaires h3
{ 
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 5px;
}
}

@media (max-width: 550px) {
	#populaires h3
{ 
	font-size: 1em;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 5px;
}
}

@media (max-width: 414px) {
	#populaires h3
{ 
	font-size: 1em;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 5px;
}
}

#populaires p
{
	font-size: 0.9em;
	margin-top: -10px;
	margin-bottom: 35px;
}

@media (max-width:1400px) {
	#populaires p
{
	font-size: 0.9em;
	margin-top: -8px;
	margin-bottom: 15px;
	margin-left: 4px;
}
}

@media (max-width:970px) {
	#populaires p
{
	font-size: 0.9em;
	margin-top: -2px;
	margin-bottom: 6px;
	margin-left: 8px;
}
}
@media (max-width:768px) {
	#populaires p
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 6px;
	margin-left: 8px;
}
}

@media (max-width:750px) {
	#populaires p
{
	font-size: 1em;
	margin-top: 22px;
	margin-bottom: 57px;
	margin-left: 4px;
}
}

@media (max-width:414px) {
	#populaires p
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 38px;
	margin-left: 4px;
}
}

@media (max-width:350px) {
	#populaires p
{
	font-size: 0.9em;
	margin-top: 0px;
	margin-bottom: 25px;
	margin-left: 4px;
}
}

.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 344px;
	height: 135px;
	margin: 15px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #e3e3e3;
	padding-right: 20px;	
}

@media (max-width:1400px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 315px;
	height: 215px;
	margin: 10px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #e3e3e3;
	padding-right: 0;
}
}  

@media (max-width:1200px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 285px;
	height: 205px;
	margin: 10px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #e3e3e3;
	padding-right: 0;
}
}  

@media (max-width: 970px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 240px;
	height: 210px;
	margin: 10px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #e3e3e3;
	padding-right: 0;
}
} 

@media (max-width: 830px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 210px;
	height: 210px;
	margin: 5px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #e3e3e3;
	padding-right: 0;
}
} 


@media (max-width: 750px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 560px;
	height: 215px;
	margin: 10px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	padding-right: 20px;	
}
} 

@media (max-width: 650px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 480px;
	height: 200px;
	margin: 5px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	padding-right: 20px;	
}
} 

@media (max-width: 550px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 380px;
	height: 180px;
	margin: 5px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	padding-right: 20px;	
}
} 

@media (max-width: 414px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 320px;
	height: 145px;
	margin: 5px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	padding-right: 20px;	
}
} 

@media (max-width:350px) {
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 282px;
	height: 135px;
	margin: 5px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	padding-right: 10px;	
}
}

.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 126px;
	height: 125px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}

@media (max-width:1400px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	width: 305px;
	height: 120px;
	float: none;
	border-radius: 16px 16px 0 0;
	margin-right: 0;
}
}

@media (max-width:1200px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	width: 275px;
	height: 115px;
	float: none;
	border-radius: 16px 16px 0 0;
	margin-right: 0;
}
}

@media (max-width: 970px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	width: 230px;
	height: 115px;
	border-radius: 16px 16px 0 0;
	margin-right: 0;
}
}


@media (max-width: 830px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	width: 200px;
	height: 110px;
	border-radius: 16px 16px 0 0;
	margin-right: 0;
}
}

@media (max-width: 750px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 297px;
	height: 205px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}
}

@media (max-width: 650px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 240px;
	height: 190px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}
}

@media (max-width:550px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 178px;
	height: 170px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}
}

@media (max-width:414px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 120px;
	height: 135px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}
}

@media (max-width:350px) {
	.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 110px;
	height: 125px;
	border-radius: 16px 0 0 16px;
	margin-right: 10px;
}
}

.populaire1
{
	background-image: url("../img/populaires/soleil_du_matin.jpg"); 
}

.populaire2 
{
	background-image: url("../img/populaires/coeur_de_leau.jpg");
}

.populaire3
{
	background-image: url("../img/populaires/bleu_et_blanc.jpg");
}

.fa-star
{
	font-size: 0.8em;
	padding-right: 1.4px;
}

.blue /*couleur bleue des étoiles*/
{
	color:#0065FC;
}

.grey /*couleur grise des étoiles*/
{
	color: lightgrey;
}

.container3 /*container bloc activités*/
{
	margin-top: 40px;
}

@media (max-width: 575px) {
	.container3
{
	margin-top: 20px;
}
}

.container3 h2
{
	margin-left: 0%;
}

@media (max-width: 1150px) {
	.container3 h2
{
	margin-left: 2%;
}
}

@media (max-width: 750px) {
	.container3 h2
{
	margin-left: 10%;
	font-size: 1.4em;
}
}

@media (max-width: 700px) {
	.container3 h2
{
	margin-left: 6%;
	font-size: 1.4em;
}
}

@media (max-width: 600px) {
	.container3 h2
{
	margin-left: 8%;
	font-size: 1.4em;
}
}
@media (max-width: 70px) {
	.container3 h2
{
	margin-left: 6%;
	font-size: 1.4em;
}
}

@media (max-width: 414px) {
	.container3 h2
{
	margin-left: 6%;
}
}

.mise-en-forme_activ:hover
{
	color: grey;
}

.mise-en-forme_activ
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin-bottom: 5px;
}

@media (max-width: 1475px) {
	.mise-en-forme_activ
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin: 5px;
}
}

@media (max-width: 1024px) {
	.mise-en-forme_activ
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin: 15px;
}
}

@media (max-width: 800px) {
	.mise-en-forme_activ
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #F2F2F2;
	margin: 3px;
}
}

.mise-en-forme_photo_activ
{
	background-size: cover;	
	background-position: 100%;	
	border-radius: 16px 16px 0 0;
}

#activites /*élément parent*/
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

@media ( max-width: 750px) {
	#activites /*élément parent*/
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
}

#activites h3
{ 
	padding-left: 15px; 
	padding-top: 5px;
	padding-bottom: 15px;
}

@media (max-width: 750px){
#activites h3
{ 
	font-size: 1.2em;
	padding-left: 15px; 
	padding-top: 5px;
	padding-bottom: 15px;
}
}

@media (max-width: 415px){
#activites h3
{ 
	font-size: 1em;
	padding-left: 15px; 
	padding-top: 5px;
	padding-bottom: 15px;
}
}

.colonne1
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: 1215px) {
	.colonne1
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
}

.colonne2
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: 1215px){
	.colonne2
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;	
}
}

@media (max-width: 1010px){
	.colonne2
{
	width: auto;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}
}

.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 300px;
	height: 380px;
}

@media (max-width: 1400px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 280px;
	height: 380px;
}
}

@media (max-width: 1300px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 260px;
	height: 360px;
}
}

@media (max-width: 1215px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 300px;
	height: 350px;
}
}

@media (max-width: 1024px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 280px;
	height: 340px;
}
}

@media (max-width: 1010px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 400px;
	height: 340px;
}
}

@media (max-width: 910px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 340px;
	height: 340px;
}
}

@media (max-width: 750px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 560px;
	height: 215px;
}	
}

@media (max-width: 650px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 480px;
	height: 200px;
}	
}

@media (max-width: 550px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 320px;
	height: 135px;
}	
}

@media (max-width: 350px) {
	.activite1
{
	background-image: url("../img/activites/vieux_port.jpg");
	width: 285px;
	height: 135px;
}	
}

.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 300px;
	height: 170px;
}

@media (max-width: 1400px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 280px;
	height: 175px;
}
}

@media (max-width: 1300px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 260px;
	height: 165px;
}
}

@media (max-width: 1215px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 350px;
	height: 154px;
}
}

@media (max-width: 1024px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 290px;
	height: 154px;
}
}

@media (max-width: 1010px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 400px;
	height: 134px;
}
}

@media (max-width: 910px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 350px;
	height: 134px;
}
}



@media (max-width: 750px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 560px;
	height: 215px;
}
}

@media (max-width: 650px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 480px;
	height: 200px;
}
}

@media (max-width: 550px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 320px;
	height: 135px;
}
}

@media (max-width: 350px) {
.activite2
{
	background-image: url(../img/activites/pomegues.jpg);
	width: 285px;
	height: 135px;
}
}

.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 300px;
	height: 115px;
}

@media (max-width: 1400px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 280px;
	height: 120px;
}
}

@media (max-width: 1300px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 260px;
	height: 110px;
}
}

@media (max-width: 1215px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 350px;
	height: 120px;
}
}

@media (max-width: 1024px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 290px;
	height: 100px;
}
}

@media (max-width: 1010px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 400px;
	height: 120px;
}
}

@media (max-width: 910px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 350px;
	height: 120px;
}
}

@media (max-width: 750px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 560px;
	height: 215px;
}
}

@media (max-width: 650px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 480px;
	height: 200px;
}
}

@media (max-width: 550px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 320px;
	height: 135px;
}
}

@media (max-width: 350px) {
.activite3
{
	background-image: url("../img/activites/iles_frioul.jpg");
	width: 285px;
	height: 135px;
}
}

.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 300px;
	height: 380px;
}

@media (max-width: 1400px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 280px;
	height: 380px;
}
}

@media (max-width: 1300px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 260px;
	height: 360px;
}
}

@media (max-width: 1215px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 300px;
	height: 350px;
}
}

@media (max-width: 1024px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 270px;
	height: 340px;
}
}

@media (max-width: 1010px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 400px;
	height: 340px;
}
}

@media (max-width: 910px){
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 340px;
	height: 340px;
}
}

@media (max-width: 750px) {
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 560px;
	height: 215px;
}
}

@media (max-width: 650px) {
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 480px;
	height: 200px;
}
}

@media (max-width: 550px) {
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 320px;
	height: 135px;
}
}

@media (max-width: 350px) {
.activite4
{
	background-image: url("../img/activites/calanques.jpg");
	width: 285px;
	height: 135px;
}
}

.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 300px;
	height: 135px;	
}

@media (max-width: 1400px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 280px;
	height: 140px;	
}
}
@media (max-width: 1300px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 260px;
	height: 130px;	
}
}

@media (max-width: 1215px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 490px;
	height: 200px;	
}
}

@media (max-width: 1050px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 450px;
	height: 180px;	
}
}

@media (max-width: 1010px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 400px;
	height: 135px;
}
}

@media (max-width: 910px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 350px;
	height: 135px;
}
}

@media (max-width: 750px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 560px;
	height: 215px;
}
}

@media (max-width: 650px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 480px;
	height: 200px;
}
}

@media (max-width: 550px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 320px;
	height: 135px;
}
}

@media (max-width: 350px) {

.activite5
{
	background-image: url("../img/activites/bonne_mere.jpg");
	width: 285px;
	height: 135px;
}
}

.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 300px;
	height: 150px;
}

@media (max-width: 1400px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 280px;
	height: 155px;
}
}
@media (max-width: 1300px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 260px;
	height: 145px;
}
}

@media (max-width: 1215px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 490px;
	height: 200px;
}
}

@media (max-width: 1050px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 450px;
	height: 180px;
}
}

@media (max-width: 1010px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 400px;
	height: 115px;
}
}


@media (max-width: 910px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 350px;
	height: 115px;
}
}

@media (max-width: 750px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 560px;
	height: 215px;
}
}

@media (max-width: 650px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 480px;
	height: 200px;
}
}


@media (max-width: 550px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 380px;
	height: 200px;
}	
}

@media (max-width: 414px) {
	.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 320px;
	height: 135px;
}
}

@media (max-width: 350px) {
.activite6
{
	background-image: url(../img/activites/longchamp.jpg);
	width: 285px;
	height: 135px;
}
}

footer
{
	margin: 30px;
	padding: 30px 260px 50px 40px;
	background-color: #F2F2F2;
}
@media (max-width: 1400px) {
	footer
{
	margin: 30px 10px 30px 10px;
	padding: 30px 100px 50px 40px;
	background-color: #F2F2F2;
}
}

@media (max-width: 1024px) {
	footer
{
	margin: 30px 0 30px 0px;
	padding: 30px 20px 30px 30px;
	background-color: #F2F2F2;
}
}

@media (max-width: 768px){
	footer
{
	margin: 30px 0 30px 0px;
	padding: 30px 10px 10px 30px;
	background-color: #F2F2F2;
}
}

@media (max-width: 750px){
	footer
{
	margin: 30px 0 30px 0px;
	padding: 30px 10px 10px 80px;
	background-color: #F2F2F2;
}
}

@media (max-width: 414px){
	footer
{
	margin: 30px 0 30px 0px;
	padding: 30px 20px 10px 20px;
	background-color: #F2F2F2;
}
}

@media (max-width: 375px){
	footer
{
	margin: 10px 0 0px 0px;
	padding: 20px 50px 0px 30px;
	background-color: #F2F2F2;
}
}

#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

@media (max-width: 1024px){
	#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	margin-right: 60px;
}
}

@media (max-width: 768px) {
	#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin-right: 20px;
}
}

@media (max-width: 750px) {
	#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin-right: 20px;
}
}

@media (max-width: 414px) {
	#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin-right: 20px;
}
}

.footer p:hover
{
	font-weight: bold;
}

@media (max-width: 1024px) {
	.footer
{
	padding-right: 0px;
	margin-bottom: 30px;
}
}

@media (max-width: 768px) {
	.footer
{
	padding-right: 0px;
	margin-bottom: 35px;
}
}

.footer h3
{
	margin-bottom: -20px;
}

@media (max-width: 768px)  {
	.footer h3
{
	margin-bottom: -13px;
	font-size: 1.15em;
}
}

.footer p
{
	margin-bottom: -10px;
}

@media (max-width: 767px) {
	.footer p
{
	margin-bottom: -7px;
}
}
