@font-face 
{
    font-family: 'raleway';
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'raleway';	
}

* {
  box-sizing: border-box;
}

/*Pour les téléphones mobiles*/
[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid green;
}

/*Pour les tablettes*/
@media only screen and (min-width: 600px) {
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

/*Pour ordinateurs*/
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


#bloc_page
{	
	width: 100%;
	margin: auto;
	max-width: 1350px;
	min-width: 320px;
	border: 2px solid blue;	
}

@media (max-width: 575px){#bloc_page
{	
	width: 100%;
	margin: auto;
	max-width: 575px;
	min-width: 320px;
	border: 2px solid blue;	
}
}

header
{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-size: 97px 45px;
	border: 2px solid pink;
}

#menu 
{
	display: flex;
	justify-content: flex-end;	
	padding-top: 15px;	
	padding-bottom: 15px;
}

@media (max-width: 575px); (min-width: 320px) {
	#menu 
{
	display: flex;
	justify-content: flex-start;	
	flex-wrap: wrap-reverse;
	padding-top: 15px;
	padding-bottom: 15px;	
}
}

.menu_heberg
{
	margin-right: 70px;
}

@media (max-width: 575px){
	.menu_heberg
{
	margin-top: 60px;
	margin-right: 140px;
}
}

.menu_activ
{
	margin-right: 70px;
}

@media (max-width: 575px){
	.menu_activ
{
	margin-top: 60px;
	margin-right: 0px;
}
}

.inscription
{
	padding-right: 30px;
}

@media (max-width: 575px) {
	.inscription
{
	padding-right: 10px;
}
}

#menu a:hover /*Apparence au survol des liens*/
{
	border-top: 2px solid #0065FC;
	color: #0065FC;
}

#recherches /*Bloc recherches*/
{
	border: 2px solid red;
	padding-top: 15px;
}

#recherches h1
{
	margin-bottom: -8px;
}

@media (max-width: 575px) {
	#recherches p
{
	margin-bottom: 40px;
}
}

.fa-map-marker-alt
{
	color: black;
	background-color:#F2F2F2;
	border: 1px solid #F2F2F2;
	padding: 17px;
	border-radius: 16px 0px 0px 16px;
}

#champ_recherche
{
	width: 235px;
	height: 50px;
	font-size: 1.1em;
	border: 1px solid #F2F2F2;
	font-family: 'raleway';
	font-weight: bold;
	margin: 0 -5px 0 -5px;
	padding-left: 15px;
}

#rechercher
{
	width: 130px;
	height: 50px;
	background-color: #0065FC;
	color: white;
	font-size: 1.1em;
	font-family: 'raleway';
	font-weight: bold;
	border-radius: 0px 17px 17px 0px;
	border-style: none;
}

@media (max-width: 575px) {
#rechercher
{
	display: none;
	background-color: #0065FC;
	color: white;
	font-size: 1.1em;
	font-family: 'raleway';
	font-weight: bold;
	border-radius: 0px 16px 16px 0px;
	border-style: none;
}
}


.fa-search
{
	color: white;/*rend l'icone "recherche" invisible sur la page desktop*/
}

@media (max-width: 575px) {
	.fa-search
{
	background-color: #0065FC;
	padding: 18px;
	border-radius: 16px;
	margin-left: -10px;
}
}

#filtres /*bloc filtres*/
{
	border: 2px solid pink;
	padding-top: 15px;
}

@media (max-width: 575px) {
	#filtres /*bloc filtres*/
{
	position: relative;
	border: 2px solid pink;
	padding-top: 55px;
}
}

#filt
{
	position: absolute;
	margin-top: 22px;
	font-weight: bold;	
	font-size: 1.1em;
}

@media (max-width: 575px){
	#filt
{
	position: absolute;
	margin-top: -32px;
}
}

#filtres ul
{
	list-style-type: none;
	font-weight: bold;	
	font-size: 1.1em;
	border: 2px solid pink;
	margin-top: 5px;
}

@media (max-width: 575px) {
	#filtres ul
{
	list-style-type: none;
	font-weight: bold;	
	font-size: 0.9em;
	border: 2px solid pink;
	margin-left: -60px;
}
}

#filtres li
{
	display: inline-flex;
	border: 2px solid lightgrey;
	border-radius: 30px 30px 30px 30px;
	margin-left: 50px;
	padding-right: 20px;
}

@media (max-width: 575px) {
	#filtres li
{
	display: inline-flex;
	border: 2px solid lightgrey;
	border-radius: 30px 30px 30px 30px;
	padding-right: 20px;
	margin-left: 20px;
	margin-bottom: 12px;
}
}

#filtres a:hover /*Apparence au survol des liens*/
{
  	color:#0065FC;
	font-weight: bold;
	font-size: 1.1em;
}

.fa-money-bill-wave
{
	font-size: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px 10px 13px 10px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-child
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding:  12px 15px 12px 15px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-heart
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-dog
{
	font-size:20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-info
{
	font-size: 0.8em;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 6px 10px 6px 10px;	
}


strong
{
	color: #0065FC;
}

a /*Liens non survolés*/
{
	text-decoration: none;
	color: black;
}

a:active /*Lorsque l'on clique sur le lien*/
{
	text-decoration: underline;
}

h1
{
	font-size: 1.4em; /*Unité "em" est la taille de la police de caractères*/
	font-weight: bold;
}

h2
{
	font-size: 1em;
	font-weight: bold;
}



.container /*container du bloc hébergements et populaires*/
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	border: 2px solid black;
}

@media (max-width: 575px) {
	.container /*container du bloc hébergements et populaires*/
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	border: 2px solid black;
}
}

.container1/*container du bloc hébergements et background grey*/
{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 900px;
	border: 2px solid red;
	background-color:#F2F2F2; 
	border-radius: 20px;
}

@media (max-width: 575px)
{
	.container1/*container du bloc hébergements et background grey*/
{

	border: 2px solid red;
	background-color: white; 
	border-radius: 20px;
}
}

.container1 h1
{
	padding-left: 30px;
}

@media (max-width: 575px) {
	.container1 h1
{
	margin-left: 25px;
}
}

#hebergements /*container du bloc parent hébergements*/
{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid pink;	
}

@media (max-width: 575px) {
	#hebergements /*container du bloc parent hébergements*/
{	
	max-width: 575px
	min-width: 320px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid pink;	
}
}


#hebergements h2
{
	margin-top: 7px;
	margin-left: 10px;	
}

#hebergements p 
{
	margin-top: -10px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
}

.hover:hover/*permet d'avoir un effet en survol du lien*/
{
	border: 4px solid white;
}

.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/

{
	width: 247px;
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px 7px lightgrey;
	background-color: white;
	margin: 20px;
}

@media (max-width: 575px) {
	.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/
{
	width: 340px;
	height: 200px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px 7px lightgrey;
	background-color: white;
	margin: 20px;
}
}

.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 237px;
	height: 115px;
	border-radius: 16px 16px 0 0;
}

@media (max-width: 575px) {
	.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 330px;
	height: 118px;
	border-radius: 16px 16px 0 0;
}
}
.hebergement1
{
	background-image: url("css/photos/cannebiere.jpg");
}

.hebergement2
{
	background-image: url("css/photos/port.jpg");
}

.hebergement3
{
	background-image: url("css/photos/mouettes.jpg");
}

.hebergement4
{
	background-image: url("css/photos/la_mer.jpg");
}

.hebergement5
{
	background-image: url("css/photos/panier.jpg");
}

.hebergement6
{
	background-image: url("css/photos/amina.jpg");
}

.aff_plus
{
	margin-left: 40px;
	font-weight: bold;
}

@media (max-width: 575px)
{
.aff_plus
{
	margin-left: 60px;
	font-weight: bold;
}
}

.container2/*container du bloc populaires et background grey*/
{
	padding-top: 20px;
	width: 400px;
	background-color:#F2F2F2; 
	border-radius: 20px;
}

@media (max-width: 575px) {
	.container2/*container du bloc populaires et background grey*/
{
	
	width: 480px;
	background-color:#F2F2F2; 
	border-radius: 0;
}
}

.container2 h1
{ padding-left: 30px;
 }

 @media (max-width: 575px)
 {
 	.container2 h1
{ margin-left: 25px;
 }
 }

.titre_et_fleche
{
	position: relative;
	border: 2px solid pink;

}

#icone_fleche
{
	position: absolute;
	margin-left: 345px; 
	margin-top: -45px;
}

@media (max-width: 575px) {
	#icone_fleche
{
	position: absolute;
	margin-left: 370px; 
	margin-top: -45px;
}
}
.fa-chart-line
{
	font-size: 1.4em;
	font-weight: bold;
}

#populaires/*container du bloc parent populaires*/
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid pink;
}

@media (max-width: 575px)  {
	#populaires/*container du bloc parent populaires*/
{
	max-width: 575px
	min-width: 320px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid pink;
}
}

#populaires p
{
	font-size: 0.9em;
	margin-top: -10px;
	margin-bottom: 40px;
}

#populaires h2
{
	word-break: break-word;
}

.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 344px;
	height: 135px;
	margin: 20px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px 7px lightgrey;
	padding-right: 20px;	
}

@media(max-width: 575px)
{ 
	.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 332px;
	height: 135px;
	margin: 20px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px 7px lightgrey;
	padding-right: 20px;	
}
 }

.mise-en-forme_photo_popu/*mise en forme des photos dans les éléments "Les plus populaires"*/
{
	background-size: cover;	
	background-position: 100%;	
	float: left;
	width: 126px;
	height: 125px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}

.populaire1
{
	background-image: url("css/populaires/soleil_du_matin.jpg"); 
}

.populaire2 
{
	background-image: url("css/populaires/coeur_de_leau.jpg");
}

.populaire3
{
	background-image: url("css/populaires/bleu_et_blanc.jpg");
}

.fa-star
{
	font-size: 0.8em;
	padding-right: 1.4px;
}

.blue /*couleur bleue des étoiles*/
{
	color:#0065FC;
}

.grey /*couleur grise des étoiles*/
{
	color: lightgrey;
}

.container3 /*container bloc activités*/
{
	border: 2px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (max-width: 575px) {
	.container3 /*container bloc activités*/
{
	border: 2px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
}

.container3 h1
{
	padding-left: 0;
}

@media (max-width: 575px) {
	.container3 h1
{
	margin-left: 55px;
}
}

.mise-en-forme_activ: hover
{
	border: 1px solid grey;
}

.mise-en-forme_photo_activ
{
	background-size: cover;	
	background-position: 100%;	
	border-radius: 16px 16px 0 0;
}

.mise-en-forme_activ
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px #F2F2F2;
}

#activites h2
{ 
	padding-top: 10px;
	padding-left: 15px; 
	padding-bottom: 15px;
}

#activites /*élément parent*/
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	border: 2px solid pink;	
	width: 100%;
	margin: auto;
}

@media ( max-width: 575px) {
	#activites /*élément parent*/
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	border: 2px solid pink;	
	max-width: 575px
	min-width: 320px;
}
}

.colonne1
{
	border: 2px solid pink;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: 575px) {
	.colonne1
{
	border: 2px solid pink;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
}

.colonne2
{
	border: 2px solid pink;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: 575px) {
	.colonne2
{
	border: 2px solid pink;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}
}

.activite1
{
	background-image: url("activites/vieux_port.jpg");
	width: 300px;
	height: 370px;
}

@media (max-width: 575px) {
	.activite1
{
	background-image: url("activites/vieux_port.jpg");
	width: 340px;
	height: 135px;
}	
}

.activite2
{
	background-image: url(activites/pomegues.jpg);
	width: 300px;
	height: 180px;
}

@media (max-width: 575px) {
	.activite2
{
	background-image: url(activites/pomegues.jpg);
	width: 340px;
	height: 135px;
}
}

.activite3
{
	background-image: url("activites/iles_frioul.jpg");
	width: 300px;
	height: 120px;
}

@media (max-width: 575px) {
	.activite3
{
	background-image: url("activites/iles_frioul.jpg");
	width: 340px;
	height: 135px;
}
}


.activite4
{
	background-image: url("activites/calanques.jpg");
	width: 300px;
	height: 370px;
}

@media (max-width: 575px) {
	.activite4
{
	background-image: url("activites/calanques.jpg");
	width: 340px;
	height: 135px;
}
}


.activite5
{
	background-image: url("css/activites/bonne_mere.jpg");
	width: 300px;
	height: 140px;	
}

@media (max-width: 575px) {
	.activite5
{
	background-image: url("css/activites/bonne_mere.jpg");
	width: 340px;
	height: 135px;
}
}

.activite6
{
	background-image: url(activites/longchamp.jpg);
	width: 300px;
	height: 160px;
}

@media (max-width: 575px) {
	.activite6
{
	background-image: url(activites/longchamp.jpg);
	width: 340px;
	height: 135px;
}
}

#pied_de_page /*Bloc pied de page*/
{
	border: 2px solid black;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #F2F2F2;
	padding: 50px;
	margin: 40px 80px 40px 80px;
}

@media (max-width: 768px) {
	#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	border: 2px solid black;
	margin-left: 0px;
	margin-right: 0px;
}
}

.footer
{
	padding-right: 270px;
}

@media (max-width: 575px) {
	.footer
{
	padding-right: 0px;
	padding-bottom: 20px;
}
}

.footer h2
{
	border: 2px solid pink;
	margin-bottom: -20px;
}

@media (max-width: 575px)  {
	.footer h2
{
	border: 2px solid pink;
}
}

.footer p
{
	margin-bottom: -10px;
}

@media ()