@font-face 
{
    font-family: 'raleway';
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'raleway';	
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid green;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#bloc_page
{	
	width: 82%;
	margin: auto;
	border: 2px solid blue;	
}

header /* Bloc en-tête avec logo */
{
	background-image: url("logo.png");
	background-repeat: no-repeat;
	background-size: 97px 45px;
	border: 2px solid red;
}

#menu li
{
	display: inline-flex;
	float: left;
	margin-left: 70px;
	list-style-type: none;
}


#menu a:hover /*Apparence au survol des liens*/
{
	border-top: 2px solid #0065FC;
	color: #0065FC;
}


#recherches /*Bloc recherches*/
{
	border: 2px solid red;
}

.fa-map-marker-alt
{
	color: black;
	background-color:#F2F2F2;
	border: 1px solid #F2F2F2;
	padding: 17px;
	border-radius: 17px 0px 0px 17px;
}

#champ_recherche
{
	width: 220px;
	height: 50px;
	font-size: 1.1em;
	border: 1px solid #F2F2F2;
	font-family: 'raleway';
	font-weight: bold;
	margin: 0 -5px 0 -5px;
	padding-left: 15px;
}

#rechercher
{
	width: 140px;
	height: 50px;
	background-color: #0065FC;
	color: white;
	font-size: 1.1em;
	font-family: 'raleway';
	font-weight: bold;
	border-radius: 0px 17px 17px 0px;
	border-style: none;
}


#filtres nav li
{
	display: inline-flex;
	border: 2px solid lightgrey;
	border-radius: 30px 30px 30px 30px;
	margin-left: 50px;
	padding-right: 10px;
}

#filt
{
	border: 2px solid pink;
	margin-top: 30px;
}

#filtres /*bloc filtres*/
{
	display: inline-block;
	font-weight: bold;
	list-style-type: none;	
	font-size: 1.1em;
	border: 2px solid pink;
}

#filtres a:hover /*Apparence au survol des liens*/
{
  	color:#0065FC;
	font-weight: bold;
	font-size: 1.1em;
}


.fa-money-bill-wave
{
	font-size: 20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px 10px 13px 10px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-child
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding:  12px 15px 12px 15px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-heart
{
	font-size: 20px ;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-dog
{
	font-size:20px;
	color: #0065FC;
	background-color: #DEEBFF;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 13px;
	margin-right: 10px;
	margin-left: -4px;
}

.fa-info
{
	font-size: 0.8em;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 50%;
	padding: 6px 10px 6px 10px;	
}


strong
{
	color: #0065FC;
}

a /*Liens non survolés*/
{
	text-decoration: none;
	color: black;
}

a:active /*Lorsque l'on clique sur le lien*/
{
	text-decoration: underline;
}

h1
{
	font-size: 1.4em; /*Unité "em" est la taille de la police de caractères*/
	font-weight: bold;
}

h2
{
	font-size: 1em;
	font-weight: bold;
}

.bg-grey1
{
	background-color:#F2F2F2; 
	border-radius: 20px;
}

#container /*container du bloc hébergements et populaires*/
{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	border: 2px solid black;
}

.container1/*container du bloc hébergements et background grey*/
{
	width: 68%;
	border: 2px solid red;
}


#hebergements /*container du bloc parent hébergements*/
{	
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;	
}

#hebergements h2
{
	margin-left: 10px;	
}

#hebergements p 
{
	margin-top: -10px; /*réduit l'espace entre le <p> et le <h2> dans l'espace texte des photos*/
	margin-left: 10px;
	font-size: 0.9em;
}

.hover:hover/*permet d'avoir un cadre en survol du lien*/
{
	border: 4px solid white;
}

.mise-en-forme_heberg /*mise en forme des éléments "hébergements à Marseille"*/

{
	width: 247px;
	height: 185px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px lightgrey;
	background-color: white;
}

.mise-en-forme_photo_heberg
{
	background-size: cover;	
	background-position: 100%;	
	width: 237px;
	height: 100px;
	border-radius: 16px 16px 0 0;
}

.hebergement1
{
	background-image: url("css/mini_photos/mini_cannebiere.jpg");
}

.hebergement2
{
	background-image: url("css/mini_photos/mini_port.jpg");
}

.hebergement3
{
	background-image: url("css/mini_photos/mini_mouettes.jpg");
}

.hebergement4
{
	background-image: url("css/mini_photos/mini_la_mer.jpg");
}

.hebergement5
{
	background-image: url("css/mini_photos/mini_panier.jpg");
}

.hebergement6
{
	background-image: url("css/mini_photos/mini_amina.jpg");
}

.container2/*container du bloc populaires*/
{
	border: 2px solid red;
	width: 32%;
}

.bg-grey2
{
	background-image: url("fas fa-chart-line");
	background-color:#F2F2F2; 
	border-radius: 20px;
}

#populaires/*container du bloc parent populaires*/
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: column;
	border: 2px solid pink;
}

#populaires p
{
	font-size: 0.9em;
	margin-top: -10px;
	margin-bottom: 40px;
}

#populaires h2
{
	word-break: break-word;
}


#titre_et_fleche
{
	font-size: 1.4em;
	font-weight: bold;
	border: 2px solid red;
	
	position: relative;
}

#icone_fleche
{
	border: 2px solid grey;
	margin-left: 140px; 
}


.mise-en-forme_popu/*mise en forme des éléments "Les plus populaires"*/
{
	background-color: white;
	width: 344px;
	height: 135px;
	margin: 20px;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: 7px 7px 7px lightgrey;
	padding-right: 20px;
	
}

.mise-en-forme_photo_popu
{
	background-size: cover;	
	background-position: 70%;	
	float: left;
	width: 126px;
	height: 125px;
	border-radius: 16px 0 0 16px;
	margin-right: 20px;
}

.populaire1
{
	background-image: url("css/mini_photos/populaires/mini_soleil_du_matin.jpg"); 
}

.populaire2 
{
	background-image: url("css/mini_photos/populaires/mini_coeur_de_leau.jpg");
}

.populaire3
{
	background-image: url("css/mini_photos/populaires/mini_bleu_et_blanc.jpg");
}

.fa-star
{
	font-size: 0.8em;
	padding-right: 1.4px;

}

.blue /*couleur bleue des étoiles*/
{
	color:#0065FC;
}

.grey /*couleur grise des étoiles*/
{
	color: lightgrey;
}



.bg-white /*container bloc activités*/
{
	background-color: none;
}

.bg-white h1
{
	margin-left: 30px;
}

.mise-en-forme_photo_activ
{
	background-size: cover;	
	background-position: 100%;	
	border-radius: 16px 16px 0 0;
}

.mise-en-forme_activ
{
	background-size: cover;	
	border-radius: 20px;
	box-shadow: 7px 7px 7px #F2F2F2;
}

#activites h2
{ 
	padding-left: 15px; 
	padding-bottom: 15px;
}

#activites /*élément parent*/
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-count: 4;
	border: 2px solid red;
}

.colonne1
{
	border: 2px solid pink;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.colonne2
{
	border: 2px solid pink;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.activite1
{
	background-image: url("activites/vieux_port.jpg");
	width: 300px;
	height: 370px;
}

.activite2
{
	background-image: url(activites/pomegues.jpg);
	width: 300px;
	height: 180px;
}


.activite3
{
	background-image: url("activites/iles_frioul.jpg");
	width: 300px;
	height: 120px;
}

.activite4
{
	background-image: url("activites/calanques.jpg");
	width: 300px;
	height: 370px;
}


.activite5
{
	background-image: url("activites/bonne_mere.jpg");
	width: 300px;
	height: 140px;
	
}

.activite6
{
	background-image: url(activites/longchamp.jpg);
	width: 300px;
	height: 160px;

}

#pied_de_page /*Bloc pied de page*/
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	column-count: 3;
	background-color: #F2F2F2;
	padding: 20px;
	margin-right: 50px;
	margin-left: 50px;
}

.footer
{
	padding-right: 200px;
	padding-left: 60px;
}

.footer p
{
	margin-bottom: 10px;
}